<table class="table">
  {{header-it columns=columns}}
  {{row-it rows=rows columns=columns}}
</table>

<div class='table-footer'>
  {{pagination-pager count=totalPages current=1 change="setPage"}}
  <span class='pagination-perpage'>
    | View {{outlet}} records
  </span>
  <span class='total-records'>| Found total {{totalRecords}} records</span>
</div>